<% if params[:course_id] %>
    <h2><%= @course.title %></h2>
<%end%>

<h3>Monday</h3>
<%= render partial: 'meeting', locals: {object: @monday_mornings} %>

<h3>Tuesday</h3>
<%= render partial: 'meeting', locals: {object: @tuesday_mornings} %>

<h3>Wednesday</h3>
<%= render partial: 'meeting', locals: {object: @wednesday_mornings} %>

<h3>Thursday</h3>
<%= render partial: 'meeting', locals: {object: @thursday_mornings} %>

<h3>Friday</h3>
<%= render partial: 'meeting', locals: {object: @friday_mornings} %>

<h3>Saturday</h3>
<%= render partial: 'meeting', locals: {object: @saturday_mornings} %>

<h3>Sunday</h3>
<%= render partial: 'meeting', locals: {object: @sunday_mornings} %>