<h1>Edit a Course</h1>
<%= render partial: 'layouts/errors', locals: {object:@course} %>
<%= form_for @course do |f| %>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
    <br>
    <%= f.label :description %>
    <br>
    <%= f.text_field :description %>
    
    <br>
    
    <br>
        <p>Enroll Your Studious Children:</p>
    <%= f.fields_for :enrollments do |enroll| %>
        <%= enroll.collection_select :student_id, Student.all, :id, :name, include_blank: true %>
        
        <%= enroll.label :start_date %>
        
        <%= enroll.text_field :start_date %>
        
        <%= enroll.label :end_date %>
        
        <%= enroll.text_field :end_date %>
        
        <br>

    <%end%>

    
    <%= f.submit "Edit Course" %>
<%end%>