<h1>Create a Course</h1>
<%= form_for @course do |f| %>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
    <br>
    <%= f.label :description %>
    <br>
    <%= f.text_field :description %>
    
    <br>
   <p> What materials will you need?:</p>
    <%= f.collection_check_boxes(:material_id, Material.all, :id, :item) %>
   <p> user - students-meetings-courses-course_materials- materials</p>
    <br>
    <p> Add materials: </p>
    <br>
    <%= f.fields_for :materials do |mat| %>
        <%= mat.label :item  %>
        <br>
        <%= mat.text_field :item %>
        <br>
    <%end%>
    <br>
        <p>Enroll Your Studious Children:</p>
    <%= f.fields_for :enrollments do |enroll| %>
        <%= enroll.collection_select :student_id, Student.all, :id, :name %>
        <br>
        <%= enroll.label :start_date %>
        <br>
        <%= enroll.text_field :start_date %>
        <br>
        <%= enroll.label :end_date %>
        <br>
        <%= enroll.text_field :start_date %>
        <br>
        
        <br>

    <%end%>

    <p> Set The Schedual </p>
    <%= f.fields_for :meetings do |meet| %>
        <%= meet.select  (:name["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]) %>
        
        <%= meet.label :start_time %>
    
        <%= meet.text_field :start_time %>
        
        <%= meet.label :end_time %>
        <%= meet.text_field :end_time %>
        <br>
        <br>
    <%end%>

    <%= f.submit "Create Course" %>
 <%end%>

 
 


