<h1>Create a Course</h1>
<%= form_for @course do |f| %>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
    <br>
    <%= f.label :description %>
    <br>
    <%= f.text_field :description %>
    
    <br>
   <p> Choose materials:</p>
    <%= f.collection_check_boxes(:material_id, Material.all, :id, :item) %>
   <p> user - students-meetings-courses-course_materials- materials</p>
    <br>
    <p> Add materials </p>
    <br>
    <%= f.fields_for :materials do |mat| %>
        <%= mat.label :item %>
        <%= mat.text_field :item %>
    <%end%>
    <br>

    <%= f.fields_for :enrollments do |enroll| %>
        <%= enroll.label :start_date %>
        <%= enroll.text_field :start_date %>
        <%= enroll.label :end_date %>
        <%= enroll.text_field :start_date %>
        <%= enroll.collection_select :student_id, Student.all, :id, :name %>

    <%end%>

    <p> Set up course meetings </p>
    <%= f.fields_for :meetings do |meet| %>
        <%= meet.collection_select( :day_id, Day.all, :id, :name) %>
        
        <%= meet.label :start_time %>
        <%= meet.text_field :start_time %>
        <%= meet.label :end_time %>
        <%= meet.text_field :end_time %>
    <%end%>

    <%= f.submit "Create Course" %>
 <%end%>

 
 


