<h1>Create a Course</h1>
<%= render partial: 'layouts/errors', locals: {object:@course} %>
<%= form_for @course do |f| %>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
    <br>
    <%= f.label :description %>
    <br>
    <%= f.text_field :description %>
    
    <br>
   <p> What materials will you need?:</p>

   <%= f.collection_check_boxes(:material_id, Material.all, :id, :item) %>

   <%= f.fields_for :course_materials do |cm| %>
        <br>
        <p> Create new materials: </p>
        <br>
        <%= cm.fields_for :materials do |mat| %>
            <%= mat.label :item  %>
            <br>
            <%= mat.text_field :item %>
            <br>
        <%end%>
    <%end%>
    
    <br>
        <p>Enroll Your Studious Children:</p>
    <%= f.fields_for :enrollments do |enroll| %>
        <%= enroll.collection_select :student_id, Student.all, :id, :name, include_blank: true %>
        <br>
        <%= enroll.label :start_date %>
        <br>
        <%= enroll.text_field :start_date %>
        <br>
        <%= enroll.label :end_date %>
        <br>
        <%= enroll.text_field :start_date %>
        <br>
        
        <br>

    <%end%>

    <%= f.submit "Create Course" %>
 <%end%>

 
 


