<h1><%= @course.title %></h1>

<h3>Description:</h3>
<%= @course.description %>
<br>
<h3>Course Materials:</h3>
<% @course.materials.each do |i| %>
    <p><%= i.item %></p>
    <%= button_to "delete", material_path(i.id), :method => "delete", data: {confirm: 'Are you sure?'} %>
<%end%>

<h3>Student Enrollments:</h3>

<% @course.enrollments.each do |enroll|%>
    
    <%= enroll.student.name %>
    <br>
    <p>Start Date:  <%= enroll.start_date.strftime("%b %d, %Y") %></p>
    <p>End Date:  <%= enroll.end_date.strftime("%b %d, %Y") %></p>
<%end%>
<br>


<%= link_to "Edit Course And Set Schedule", edit_course_path(@course) %>
<br>
<%= link_to "Add One More Meeting", new_course_meeting_path(@course) %>
<br>
<%= link_to "Course Schedule", course_meetings_path(@course) %>
<br>
<%= link_to "Add a New Material", new_course_material_path(@course) %>
<br>
<%= link_to "See Course Materials", course_materials_path(@course) %>