<!DOCTYPE html>
<html>
  <head>
    <title>Schooler3App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user) %>
      <%= link_to "Students", students_path %>
      <%= link_to "Courses", courses_path %>
      <%= link_to "Create A Course", new_course_path %>
      <%= link_to "Schedual", meetings_path %>
      <%= link_to "All Materials", materials_path %>
      <%= link_to "Log Out", logout_path %>
      

    <%end%>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
